<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>AngularJS 1.6</title>
    <!--javascript-->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/less/dist/less.min.js"></script>

    <!--css-->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-cloak>
<!--angular-->
<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script src="node_modules/angular-route/angular-route.js"></script>
<script src="app2.js"></script>
<!--end of angular-->

    <div class="container-fluid" ng-controller="myController">
        <div class="row">
            <div class="col-xs-12" ng-init="quantity=1; price=5">

                <div>
                    <a href="index2.html" >Home</a><a href="page2.html">About</a><a href="page3.html">contact</a>
                </div>

                <p ng-click="count = count + 1">{{count}}</p>

                <w3-test-directive></w3-test-directive>
                <p>{{theTime}}</p>
                <hr>

                <input type="checkbox" ng-model="mySwitch">
                <button ng-disabled="mySwitch" class="primary-btn">The Button</button>
                <p>{{mySwitch}}</p>

                <p class="primary-text">You're looking at this page at {{ myUrl }}</p>

                <table>
                    <tr ng-repeat="x in myData">
                        <td>{{ $index + 1 }}</td>
                        <td>{{x.Name}}</td>
                        <td>{{x.Country}}</td>
                    </tr>
                </table>

                <button ng-click="changeName()">{{firstName}}</button>
                <h2>Class Mates</h2>
                <ul>
                    <li ng-repeat="student in classMates">{{student}}</li>
                </ul>

                <select ng-model="selectedClassmate" ng-options="x for x in classMates"></select>

                <h3>Products</h3>
                <label>Quantity:</label> <input type="text" ng-model="quantity">
                <label>Price:</label> <input type="text" ng-model="price">
                <p>Total in dollar(s): {{quantity * price | currency}}</p>
                <hr>
                <form action="" name="myForm">
                    <!--email validation-->
                    <label>Email:</label>
                    <input type="email" name="myEmail" ng-model="text" required>
                    <span ng-show="myForm.myEmail.$error.email">This is not a valid email.</span>

                    <h3>Status</h3>
                    <p>Valid? {{myForm.myEmail.$valid}}</p>
                    <p>Dirty? {{myForm.myEmail.$dirty}}</p>
                    <p>Touched? {{myForm.myEmail.$touched}}</p>
                </form>
                </form>

                <h2>{{myHeader}}</h2>
                <p>{{hex}}</p>

            </div>
        </div>
    </div>
</body>
</html>